<!-- /web/templates/layout.html -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <h1>Blog App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogs/create">Create Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>{{ block "content" . }}{{ end }}</main>

    <footer>
        <p>&copy; 2024 Blog App</p>
    </footer>
</body>

</html>
